{
  "data-root": "{{ ansible_fedora_docker_data_root }}",
  "log-driver": "{{ ansible_fedora_docker_log_driver }}",
  "log-opts": {{ ansible_fedora_docker_log_opts | to_nice_json }},
  "storage-driver": "{{ ansible_fedora_docker_storage_driver }}"
}
