{
  "data-root": "{{ ansible_fedora_docker_data_root }}",
  "log-driver": "{{ ansible_fedora_docker_log_driver }}",
  "log-opts": {
{% if ansible_fedora_docker_log_opts %}
{% for key, value in ansible_fedora_docker_log_opts.items() %}
  "{{ key }}": "{{ value}}"{{ "," if not loop.last }}
{% endfor %}
{% endif %}
  },
  "storage-driver": "{{ ansible_fedora_docker_storage_driver }}"
}
